<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
       <!-- <ion-item menu-close ng-click="login()">
          Login
        </ion-item> -->
       <ion-item menu-close href="#/app/register">
           My Donations
       </ion-item>
       <!--<ion-item menu-close href="#/app/donate">
           Donate
       </ion-item>-->
        <ion-item menu-close href="#/app/schedule">
          Schedule
        </ion-item>
        <ion-item menu-close href="#/app/album">
          Photo Album
        </ion-item>
        <ion-item menu-close href="#/app/video_album">
          Video Album
        </ion-item>
        <ion-item menu-close href="#/app/faq">
          FAQ
        </ion-item>
       
       <!-- <ion-item menu-close href="#/app/organization">
            Organization
        </ion-item>
        -->
        <!--<ion-item menu-close href="#/app/activities">
            Activities
        </ion-item>
        <ion-item menu-close href="#/app/donate">
            Donate
        </ion-item>
        <ion-item menu-close href="#/app/branch">
            Branch
        </ion-item>-->
        <ion-item menu-close href="#/app/reset">
            Reset
        </ion-item>
        <ion-item menu-close href="#" onclick="window.open('http://www.bsswest.org/bssmobile/brochure.pdf', '_system', 'location=yes'); return false;">
            <img width="200px;" height="50px;" src="img/button_view_brochure.gif"/>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
